<html>
<head>
<title>Wellcome,master</title>
</head>
<body>
<h1>Hello,can I help you?</h1>
<ol class="OL">
<li>I want to buy a car.
<li>I want to buy a house.
<li>I want to get married.
</ol>
<table border="1">
<th>Number</th><th>Name</th>
<tr><td>18130500063</td><td>WenFu Zhong</td></tr>
</table>

<p id="introduction">背景图片本例演示如何向 HTML 页面添加背景图片。排列图片本例演示如何在文字中排列图像。浮动图像本例演示如何使图片浮动至段落的左边或右边。调整图像尺寸本例演示如何将图片调整到不同的尺寸。为图片显示替换文本本例演示如何为图片显示替换文本。在浏览器无法载入图像时，替换文本属性告诉读者们失去的信息。为页面上的图像都加上替换文本属性是个好习惯。制作图像链接本例演示如何将图像作为一个链接使用。创建图像映射本例显示如何创建带有可供点击区域的图像地图。其中的每个区域都是一个超级链接。把图像转换为图像映射本例显示如何把一幅普通的图像设置为图像映射。</p>

</body>
</html>